
<html>

    <head>

        <title></title>

        <link rel="stylesheet" type="text/css" href="../theme/style.css">
<style>
    li {
        width: 200px;
        min-height: 100px;
        border: 0px solid #000;
        display: inline-block;
        margin: 5px;
    },
	p {
	line-height: 200px;
	}
</style>
    </head>

    <body>
        <br>
<p><b>IDEHab es un Infraestructura de Datos Habitacionales Georreferenciados</b> de la provincia de Buenos Aires, surge como una iniciativa para publicar información del déficit urbano-habitacional y de las distintas intervenciones públicas referidas a: procesos de regularización urbana y dominial, producción de loteos sociales, financiamiento de programas habitacionales, planes de integración socio-urbana y demás acciones en materia de mejoramiento habitacional (inversión en equipamientos, infraestructura barrial o domiciliaria, microcrédito, etc.).</p>

<p style="line-heigth: 200%;"><b>Información de Contacto:</b> idehab.pba@gmail.com<br /><br />
Subsecretaría Social de Tierra Urbanismo y Vivienda<br /><br />
Diag. 73 esq. 56 6to piso  /  (0221) 429-2266 int 157<br /><br />
Instituto de la Vivienda de la Provincia de Buenos Aires<br /><br />
Avenida 7 entre 58 y 59, 2do piso / (0221) 429-5066 </p>
        
<hr />
<p>Por medio de este sitio usted podrá no solo consultar la información de nuestra Dirección sino que disponer de ellos para sus proyectos SIG a través de servicios WMS.</p>
        <p>Para su desarrollo se utilizó exclusivamente software libre:</p>
        
        <ul class="listasoftlib">
            <li><a href="http://www.apache.org/" target="_blank"><img src="../app/img/apachetomcat.jpg" width="66"  height="50" alt="apache tomcat"/></a></li>
            <li><a href="http://www.php.net/" target="_blank"><img src="../app/img/php.jpg"           width="100" height="50" alt="php"/></a></li>
            <li><a href="http://geoserver.org/" target="_blank"><img src="../app/img/geoserver.jpg"     width="140" height="50" alt="geoserver"/></a></li>
            <li><a href="http://openlayers.org/" target="_blank"><img src="../app/img/openlayers.jpg"    width="230" height="50" alt="openlayers"/></a></li>
            <li><a href="http://www.postgresql.org/" target="_blank"><img src="../app/img/postgressql.jpg"   width="110" height="50" alt="postgressql"/></a></li>
            <li><a href="http://postgis.refractions.net/" target="_blank"><img src="../app/img/postgis.jpg"       width="200" height="50" alt="postgis"/></a></li>
            <li><a href="http://www.pgadmin.org/" target="_blank"><img src="../app/img/pgadmin.jpg"       width="160" height="50" alt="pgadmin"/></a></li>		
            <li><a href="http://www.qgis.org/" target="_blank"><img src="../app/img/quantumgis.jpg"    width="150" height="50" alt="quantumgis"/></a></li>
        </ul>
        <p>Para contactarse con nosotros: <a href="mailto:----.gov.ar">----@sstuv.gba.gov.ar</a></p>
	<p>@GeolibresCoop :)</p>
    </body>
</html>
