<html>
    <head>        
        <link rel="stylesheet" type="text/css" href="../theme/style.css">
    </head>
    <body>        
        <div style="background-color: #F58030"><img src="../app/img/logodsig.png" height="40" alt="logo"/></div>
        <p>Este visualizador fue desarrollado para la SSTUV utilizando el visualizador realizado por el Grupo de Trabajo Investigación, Tecnología y Desarrollo del Departamento de Sistema de Información Geográfica, dependiente de la Direccion Provincial de Infraestructura Urbana y Territorial.</p>
        <p>Por medio de este sitio usted podrá no solo consultar la información de nuestra Dirección sino que disponer de ellos para sus proyectos SIG a través de servicios WMS.</p>
        <p>Para su desarrollo se utilizó exclusivamente software libre:</p>
        
        <ul class="listasoftlib">
            <li><a href="http://www.apache.org/" target="_blank"><img src="../app/img/apachetomcat.jpg" width="66"  height="50" alt="apache tomcat"/></a></li>
            <li><a href="http://www.php.net/" target="_blank"><img src="../app/img/php.jpg"           width="100" height="50" alt="php"/></a></li>
            <li><a href="http://geoserver.org/" target="_blank"><img src="../app/img/geoserver.jpg"     width="140" height="50" alt="geoserver"/></a></li>
            <li><a href="http://openlayers.org/" target="_blank"><img src="../app/img/openlayers.jpg"    width="230" height="50" alt="openlayers"/></a></li>
            <li><a href="http://www.postgresql.org/" target="_blank"><img src="../app/img/postgressql.jpg"   width="110" height="50" alt="postgressql"/></a></li>
            <li><a href="http://postgis.refractions.net/" target="_blank"><img src="../app/img/postgis.jpg"       width="200" height="50" alt="postgis"/></a></li>
            <li><a href="http://www.pgadmin.org/" target="_blank"><img src="../app/img/pgadmin.jpg"       width="160" height="50" alt="pgadmin"/></a></li>		
            <li><a href="http://www.qgis.org/" target="_blank"><img src="../app/img/quantumgis.jpg"    width="150" height="50" alt="quantumgis"/></a></li>
        </ul>
        <p>Para contactarse con nosotros: <a href="mailto:----.gov.ar">----@sstuv.gba.gov.ar</a></p>
    </body>
</html>
