
<html>

    <head>

        <title></title>

        <link rel="stylesheet" type="text/css" href="../theme/style.css">

    </head>

    <body>
        <br>
<p><b>IDEHab es un Infraestructura de Datos Habitacionales Georreferenciados</b> de la provincia de Buenos Aires, surge como una iniciativa para publicar información del déficit urbano-habitacional y de las distintas intervenciones públicas referidas a: procesos de regularización urbana y dominial, producción de loteos sociales, financiamiento de programas habitacionales, planes de integración socio-urbana y demás acciones en materia de mejoramiento habitacional (inversión en equipamientos, infraestructura barrial o domiciliaria, microcrédito, etc.).</p>

<p><b>Información de Contacto:</b> idehab.pba@gmail.com<br />
Subsecretaría Social de Tierra Urbanismo y Vivienda<br />
Diag. 73 esq. 56 6to piso  /  (0221) 429-2266 int 157<br />
Instituto de la Vivienda de la Provincia de Buenos Aires<br />
Avenida 7 entre 58 y 59, 2do piso / (0221) 429-5066 </p>
</body>
</html>
