<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="../theme/style.css">
    </head>
    <body>
        <h2>Ayuda para la utilizaci&oacute;n del mapa</h2>
	<p>
        Debido a incompatibilidades registradas en el Sistema, se recomienda utilizar los navegadores <i>Google Chrome o Mozilla Firefox </i>para su mejor funcionamiento</b><br>
        <br>
Al acceder al mapa por defecto aparece activada la herramienta de paneo la cual permite mover o correr el mapa hacia las zonas aledañas. Haciendo doble clic sobre un punto del mapa, se produce un acercamiento (o zoom) a la zona seleccionada.


        </p>
<h2>Añadir capas y servidores</h2>
<p>
        Haciendo doble clic sobre un punto del mapa, se produce un acercamiento a esa zona.<br>
        <br>
	<b>Añadir capas y servidores</b><br />
        <img src='../theme/gxp/img/silk/add.png'> Agregar capas.<br>
        Con este botón se puede abrir una ventana para seleccionar el origen de los datos, y seleccionar las capas que se desean agregar al mapa por medio del botón Agregar capas.
<br />Entre los datos disponibles se encuentran las capas de los repositorios de IDERA e IDEBA. Además, se  pueden añadir otros servidores agregando la URL. <br>
        <img src='../theme/gxp/img/silk/add.png'> Buscar capas a partir del catálogo<br>
        Este botón abre una ventana de opciones para la búsqueda de datos a partir del catálogo de IDERA. Está en desarrollo.<br>
        <br>
        <b>Con una capa seleccionada:</b><br>
        <img src='../theme/gxp/img/silk/delete.png'> Eliminar capa<br>
        <img src='../theme/gxp/img/silk/magnifier.png'> Ver toda la capa<br>
        <img src='../theme/gxp/img/silk/wrench.png'> Propiedades de la capa<br>
        <br>
        <b>Botón derecho sobre una capa en el árbol de capas de la de izquierda:</b><br>
        <img src='../theme/gxp/img/silk/delete.png'> Eliminar capa<br>
        <img src='../theme/gxp/img/silk/magnifier.png'> Ver toda la capa<br>
        <img src='../theme/gxp/img/silk/wrench.png'> Propiedades de la capa<br>
        <br>
        <b>Herramientas para manejar el mapa:</b><br>
        <img src='../theme/gxp/img/silk/arrow_out.png'> Ver extensión total del mapa<br>
        <img src='../theme/gxp/img/silk/magnifier_zoom.png'> Zoom sobre el mapa dibujando un rectángulo. Con un clic en el mismo botón, se desactiva la herramienta<br>
        <img src='../theme/gxp/img/silk/magnifier_zoom_in.png'> Acercar mapa<br>
        <img src='../theme/gxp/img/silk/magnifier_zoom_out.png'> Alejar mapa<br>
        <img src='../theme/gxp/img/silk/arrow_left.png'> Ir a la vista anterior<br>
        <img src='../theme/gxp/img/silk/arrow_right.png'> Ir a la vista siguiente<br>
        <br>
        <img src='../theme/gxp/img/silk/add.png'> Medir longitudes. Se utiliza haciendo clics sobre el mapa para medir una distancia entre dos puntos o la longitud de una ruta.<br>
        <img src='../theme/gxp/img/silk/add.png'> Medir áreas. Se usa dibujando un área por medio de clics sobre el mapa.<br>
	<img src='../theme/gxp/img/silk/streetview.png'>Street View es una herramienta provista por Google permite ver una foto de la calle que se encuentra en el centro del mapa. Se usa haciendo clic sobre el icono y para obtener la imagen del sitio, previamente, es recomendable realizar el máximo zoom posible.<br />
	<img src='../theme/gxp/img/silk/information.png'> Identificar o consultar elemento. Se usa haciendo clics sobre el elemento del mapa. Devuelve la información según la capa activa del mapa.<br />
	<!--  Realizar consultas. Las consultas se realizan para la capa activa del mapa. Si se tilda “Query by current map extent” la consulta es sobre el área que se ve en el mapa. Para consultar en TODA la Provincia no se debe tildar dicha opción.
 Imprimir mapa. Permite imprimir el mapa con las capas visibles, modificar el tamaño de hoja, la resolución, añadir título y fuente. -->
        <br>
        <b>Buscar un lugar…</b><br>
        Este es un cuadro de texto para introducir el nombre de algún lugar del país o del mundo para llevar el mapa hacia esa localización. Luego de agregar un nombre o parte de él, la herramienta muestra una lista de opciones que pueden ser seleccionadas para realizar el zoom. Es una herramienta provista por Google.<br>
        <br>
        <b>Buscar nomenclatura, partida, barrios…</b><br>
    Esta herramienta permite realizar distintas búsquedas estructuradas por nomenclatura catastral o partida inmobiliaria provincial, por nombre partido y nombre de barrio o por código de folio del RPPVAP. <br />
</p>
</body>
</html>
