<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="../theme/style.css">
    </head>
    <body>
        <div style="background-color: #F58030"><img src="../app/img/logodsig.png" height="40" alt="logo"/></div>
        <br>
        
        <b>IGN:</b>
        <p>http://wms.ign.gob.ar/geoserver/ows?service=wms&version=1.3.0&request=GetCapabilities</p>
        
        <b>ARBA:</b>
        <p>http://cartoservices.arba.gov.ar/geoserver/cartoservice/wms?service=WMS&request=GetCapabilities</p>
        
        <b>Educación (Mapa Escolar):</b>
        <p>http://190.210.101.129/cgi-bin/mapaescolar</p>
        
        <b>Dirección de Hidráulica (Ministerio de Infraestructura):</b>
        <p>http://www.mosp.gba.gov.ar/wms_hidraulica/cgi-bin/wmsserv.exe</p>
        
        <b>Dirección Provincial de Ordenamiento Urbano y Territorial (Subsecretaria de Gobierno, Ministerio de Gobierno (urBAsig):</b><br>
        <p>http://sig.gobierno.gba.gov.ar:8080/geoserver/urbasig/wms?</p>
        
        <b>Dirección de Geodesia (Ministerio de Infraestructura):</b>
        <p>http://www.mosp.gba.gov.ar/geoserver/Geodesia/wms?</p>
        
        <b> Recursos Naturales:</b>
        <p>http://sig.gobierno.gba.gov.ar:8080/geoserver/opds/wms?</p>
        
        <b>Salud:</b>
        <p>http://sig.gobierno.gba.gov.ar:8080/geoserver/salud/wms?</p>
        
        <b>Transporte:</b>
        <p>http://sig.gobierno.gba.gov.ar:8080/geoserver/apt/wms?</p>
        
        <b>Vialidad:</b>
        <p>http://sig.gobierno.gba.gov.ar:8080/geoserver/vialidad/wms?</p>
        
        <b>CDI:</b>
        <p>http://sig.gobierno.gba.gov.ar:8080/geoserver/cdi/wms?</p>
        
        <b>Defensa Civil:</b>
        <p>http://sig.gobierno.gba.gov.ar:8080/geoserver/dc/wms?</p>
        
    </body>
</html>